In [1]:
# Type of numbers

In [2]:
x = 15
y = 15.14
z = "Tom"

In [3]:
type(x)

int

In [4]:
type(y)

float

In [5]:
type(z)

str

In [6]:
x = "15"
type(x)

str

In [7]:
xx = int(x)

In [8]:
type(xx)

int

In [28]:
inp = input("What is the number of the floor? ")
ufl = int(inp) + 1
print("US Floor", ufl)

What is the number of the floor?  14

US Floor 15

In [30]:
# CONDITIONS

In [32]:
xx = 10
if xx == 10:
    print("voila")
if xx > 10:
    print("kazozo")

voila

In [34]:
if xx <= 10:
    print("wewe")
    print("why")
    if xx == 10:
        print("sasa")
        print("twende")
else:
    print("nitakupa")
print("all is good")

wewe
why
sasa
twende
all is good

In [36]:
if xx > 10:
    print("wewe")
elif xx == 10:
    print("mf")
else:
    print("nothing")
print("I'm done")

mf
I'm done

In [43]:
n = 5 
while n > 0 :
    print(n)
    n = n -1 
print('wow')

5
4
3
2
1
wow

In [51]:
friends = ["Yoyo", "Yaya", "Yeye"]
for friend in friends:
    print("Happy New Year", friend)
print("Done")

Happy New Year Yoyo
Happy New Year Yaya
Happy New Year Yeye
Done

In [61]:
# smart loop - finding the largest value 

largest_so_far = -1 
print("Before", largest_so_far)

for the_num in [23, 45, 34, 11, 78]:
    if the_num > largest_so_far:
        largest_so_far = the_num
    print(largest_so_far, the_num)

print("After", largest_so_far)

Before -1
23 23
45 45
45 34
45 11
78 78
After 78

In [55]:
# Summing in Loop

zork = 0
print("Before", zork)
for thing in [34, 2, 56, 43, 67]:
    zork = zork + thing
    print(zork, thing)
print("After", zork)

Before 0
34 34
36 2
92 56
135 43
202 67
After 202

In [63]:
# Filtering in a loop ( we use IF statement in the loop to filter)

print("Before")
for value in [34, 23, 56, 78, 12]:
    if value > 20:
        print("Large number", value)
print("After")

Before
Large number 34
Large number 23
Large number 56
Large number 78
After

In [76]:
# Finding the smallest value

smallest = None
print("Before")
for value in [9, 43, 4, 23, 67]:
    if smallest is None:
        smallest = value 
    elif value < smallest:
        smallest = value 
    print(smallest, value)
print("After", smallest)

Before
9 9
9 43
4 4
4 23
4 67
After 4

In [78]:
# Step 1: Get user input
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

# Step 2: Perform the calculation
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Cannot divide by zero"
else:
    result = "Invalid operator"

# Step 3: Display the result
print("Result:", result)

Enter the first number:  10
Enter the second number:  5
Enter the operation (+, -, *, /):  *

Result: 50.0